.sidebar {
    width: 250px;
    background-color: #f9f9f9;
    color: white;
    position: fixed;
    height: 100%;
    text-align: center;
    padding: 15px;
    border-right-color: bisque;
    border: red solid ;
}
.column2 {
    margin-left:270px;
    padding:20px;
}

button {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   button:hover {
    letter-spacing: 3px;
    background-color: hsl(99, 100%, 46%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 220, 89) 0px 7px 29px 0px;
   }
   
   button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

.comment {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80%;
    min-width: 80%;
}